MapUtilsTest/Service References/HotelRouteAPI/RouteAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRoute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeParams" type="tns:RouteParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RouteParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OptimizeRoute" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Locations" type="tns:ArrayOfLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LatLng" type="tns:LatLng" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LatLng">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRouteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRouteResult" type="tns:Route" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Route">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Legs" type="tns:ArrayOfRouteLeg" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRouteLeg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RouteLeg" nillable="true" type="tns:RouteLeg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteLeg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StartAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Steps" type="tns:ArrayOfRouteStep" />
          <s:element minOccurs="0" maxOccurs="1" name="StartLocation" type="tns:LatLng" />
          <s:element minOccurs="0" maxOccurs="1" name="EndLocation" type="tns:LatLng" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRouteStep">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RouteStep" nillable="true" type="tns:RouteStep" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteStep">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StartLocation" type="tns:LatLng" />
          <s:element minOccurs="0" maxOccurs="1" name="EndLocation" type="tns:LatLng" />
          <s:element minOccurs="0" maxOccurs="1" name="Points" type="tns:ArrayOfLatLng" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLatLng">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LatLng" nillable="true" type="tns:LatLng" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRouteSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="GetRouteSoapOut">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="RouteAPISoap">
    <wsdl:operation name="GetRoute">
      <wsdl:input message="tns:GetRouteSoapIn" />
      <wsdl:output message="tns:GetRouteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RouteAPISoap" type="tns:RouteAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://tempuri.org/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RouteAPISoap12" type="tns:RouteAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoute">
      <soap12:operation soapAction="http://tempuri.org/GetRoute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RouteAPI">
    <wsdl:port name="RouteAPISoap" binding="tns:RouteAPISoap">
      <soap:address location="http://localhost:56766/RouteAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="RouteAPISoap12" binding="tns:RouteAPISoap12">
      <soap12:address location="http://localhost:56766/RouteAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>